html{
    background-color: rgb(236, 240, 241);
}
form{
    background-color: rgb(237, 238, 164);
    font-family: cursive;
    margin-right: 500px;
    margin-left: 500px;
    margin: 7px;
    text-align: left;
    border: solid 2px rgb(4, 1, 7);
}

body{
    color: rgb(0, 8, 6);
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    min-width: 640px;
}

input[type=Submit]{
    background-color: green;
    position: absolute;
    right: 260px;
}

input[type=reset]{
    background-color: red;
    position: absolute;
    right: 190px;
}


